# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# H5P specific
*.h5p
temp/